body{
    background-color: #222;
    font-family: sans-serif;
    font-size: clamp(1rem, 1vw, 4rem); 
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h3{
    margin-top: 0;
    padding-top: 1em;
}

ul{
    list-style: none;
    padding: 0 1em;
    margin: 0;
}

.title{
    text-align: center;
    color: #f00;
    text-decoration: underline 2px;
    
}

.list__item{
    padding: 1em;
    color: #aaa;
    border: 1px solid #000;
    margin: auto;
    font-weight: bold;
    transition: all 250ms ease;
}

.list__item:hover{
    cursor: pointer;
    background-color: #aa0000;
    color: #fff;
    transform: scale(1.02);
    border: 1px solid #f00;
}

.table{
    position: relative;
    z-index: 0;
    width: 100%;
    border: 1px solid #fff;
    background-color: #aa0000;
    color: #fff;
    padding: 0 1em;
    margin: auto;
    border-collapse: collapse; 
    text-align: left;
}

.table__header{
    border-bottom: 1px solid #fff;
}

.table__info, .table__column{
    border-left: 1px solid #fff;
}

.table__info{
    padding: 1em 0;
}
.table__info:first-child{
    border-left: none;
}

.container{
    position: relative;
}

.loader{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader__ico{
    border: 8px solid #fff;
    border-top: 8px solid #f00; 
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin .8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

@media screen and (max-width: 1000px) {
    .table__header{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .loader{
        width: 100vw;
        height: 100vh;
    }
    
    .table__row{
        display: flex;
        flex-direction: column;
    }
    .table__info{
        position: relative;
        border-bottom: 1px solid #fff;
        padding-left: 6em;
    }
    .table__info:last-child{
        border-bottom: none;
    }
    .table__info::before{
        position: absolute;
        left: 5px;
        font-weight: bold;
    }
    .table__info:nth-child(1)::before {content: "Username:";}
    .table__info:nth-child(2)::before {content: "Email:";}
    .table__info:nth-child(3)::before {content: "Street:";}
    .table__info:nth-child(4)::before {content: "Suite:";}
    .table__info:nth-child(5)::before {content: "City:";}
    .table__info:nth-child(6)::before {content: "Zipcode:";}
    .table__info:nth-child(7)::before {content: "Lat:";}
    .table__info:nth-child(8)::before {content: "Lng:";}
}